@{
    Layout = "~/views/template/base.cshtml";
}


@section title{
    @RenderSection("title", false)
}



@section body{
    <style>
        * {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        #onlineChat {
            width: 170px;
            height: 280px;
            position: fixed;
            right: -130px;
            top: 100px;
            background: url('@Url.Content("~/img/OnLineChat.png")') no-repeat 0 0;
        }

            #onlineChat .chat {
                width: 130px;
                height: 280px;
                float: right;
                overflow: hidden;
                text-align: center;
                font-size: 14px;
                color: #013984;
            }

                #onlineChat .chat h2 a {
                    color: #013984;
                    font-size: 14px;
                    text-decoration: none;
                }

                    #onlineChat .chat h2 a:hover {
                        color: #FF3600;
                    }
    </style>
    <header class="main-header">
        <a href='@Url.Content("~/home/home")' class="logo">
            <!-- LOGO -->
            <b>经销商平台</b>
        </a>

        <nav class="navbar navbar-static-top" role="navigation">
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-cog"></i>
                            <span class="hidden-xs">@ViewBag.UserName</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="@Url.Content("~/img/me.svg")" width="90" height="90" class="img-circle" alt="User Image" />
                                <p>
                                    @ViewBag.UserName
                                    <small>上次登录：@ViewBag.LoginDate</small>
                                </p>
                                <input id="Uniquerole" name="Uniquerole" value="@ViewBag.Role" hidden="hidden" readonly />
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="~/user/index" class="btn btn-default btn-flat">个人设置</a>
                                </div>
                                <div class="pull-right">
                                    <a href="#" id="signOut" class="btn btn-default btn-flat">登出</a>
                                </div>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>
    </header>

    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="~/img/me.svg" width="45" height="45" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>@ViewBag.UserName</p>
                    <a href="#"><i class="glyphicon glyphicon-ok-circle"></i> 在线</a>
                </div>
            </div>

            <ul class="sidebar-menu">
                <li class="header">目录菜单</li>

                <li class="treeview" id="productManager">
                    <a href="#">
                        <i class="glyphicon glyphicon-home"></i> <span>产品列表</span>
                    </a>

                </li>
                <li class="treeview" id="userManager">
                    <a href="#">
                        <i class="glyphicon glyphicon-user"></i> <span>用户管理</span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="~/user/index"><i class="glyphicon glyphicon-chevron-right"></i> 个人设置</a></li>
                        <li><a href="~/user/userlist"><i class="glyphicon glyphicon-chevron-right"></i> 下属用户</a></li>
                    </ul>
                </li>

                <li class="treeview" id="orderManager">
                    <a href="#">
                        <i class="glyphicon glyphicon-file"></i>
                        <span>订单管理</span>
                        @*<span class="label label-primary pull-right">4</span>*@
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="~/order/index"><i class="glyphicon glyphicon-chevron-right"></i> 销售订单</a></li>
                        <li><a href="~/order/order"><i class="glyphicon glyphicon-chevron-right"></i> 订单下达</a></li>
                    </ul>
                </li>

                <li class="treeview" id="logManager">
                    <a href="~/log/index">
                        <i class="glyphicon glyphicon-edit"></i>
                        <span>日志管理</span>
                    </a>
                </li>

                <li class="treeview" id="messageManager">
                    <a href="~/log/messageboard">
                        <i class="glyphicon glyphicon-comment"></i>
                        <span>留言板</span>
                        <span class="label label-primary pull-right"></span>
                    </a>
                </li>

            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <div class="content-wrapper" style="min-height: 900px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            @RenderSection("content_header", true)
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    @RenderSection("content", true)
                    <div id="onlineChat">
                        <div class="chat">
                            <h2 style="margin-top:55px;"><a target="_blank" href="http://wpa.qq.com/msgrd?v=1&uin=287035985&site=240zt ">在线客服</a></h2>
                            <p style="margin-top:8px;">QQ：123456789</p>
                            @*<h2 style="margin-top:58px;"><a href="http://wpa.qq.com/msgrd?v=1&uin=361703739&site=240zt ">在线客服</a></h2>
                                <p style="margin-top:10px; color:#fff;">QQ：123456789</p>*@
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </div>




    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0
        </div>
        <strong>Copyright © 2015 <a href="#">高山药业经销商平台 </a>.</strong> All rights reserved.
    </footer>

}

@section script{
    @*<script src="~/Js/utility/jquery.min.js"></script>*@
    <script>
        $(function () {
            $('#onlineChat').hover(function () {
                $('#onlineChat').stop().animate({ right: '0px' }, 200);
            }, function () {
                $('#onlineChat').stop().animate({ right: '-130px' }, 200);
            });
            $('body').addClass('skin-blue fixed');

            $("#signOut").click(function () {
                getAsynData("../home/SignOut", null, function (json) {
                    location.href = json.Href;
                });
            });

            $(".sidebar-menu .treeview").each(function () {
                $(this).click(function () {

                    var treeview = $(this);

                    treeview.siblings(".treeview").removeClass("active");
                    if (treeview.hasClass("active") == false)
                        $("ul", treeview).slideDown("normal");
                    else
                        $("ul", treeview).slideToggle("normal", function () { treeview.removeClass("active"); });

                    treeview.addClass("active");

                });
            })

        });
        function picsize(obj, MaxWidth) {
            img = new Image();
            img.src = obj.src;
            if (img.width > MaxWidth) {
                return MaxWidth;
            }
            else {
                return img.width;
            }
        }
    </script>
    <style>
        th {
            min-width: 100px;
        }
    </style>
    @RenderSection("script", false)
}

