@{
    Layout = "~/Views/Template/dialog.cshtml";
}

@model OrderManager.Model.Models.OM_MessageBoard

@section title {
    <h4 style="font-weight:bold"><label>留言内容</label></h4>
}

@section Message{

        <div class="box-header with-border">
            <h3 class="box-title">@Model.Name</h3>
            <div class="box-tools pull-right">
                <a href="#" class="btn btn-box-tool" data-toggle="tooltip" title="Previous"><i class="glyphicon glyphicon-user"></i></a>
            </div>
        </div><!-- /.box-header -->
        <div class="box-body no-padding">
            <div class="mailbox-read-info">
                <h3>@Model.Title</h3>
                <h5>邮箱地址: @Model.Email <span class="mailbox-read-time pull-right">@Model.CreateDatetime.Value.Date</span></h5>
            </div><!-- /.mailbox-read-info -->
            <div class="mailbox-controls with-border text-center">
                <h4> <label>内容</label></h4>
            </div><!-- /.mailbox-controls -->
            <div class="mailbox-read-message">
                    @Model.Message
            </div><!-- /.mailbox-read-message -->
        </div><!-- /.box-body -->


}

@section buttons{

    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

}