@{
    Layout = "~/views/template/content.cshtml";
}


@section title{ 经销商平台 | 销售订单  }


@section content_header{

    <h1>
        订单管理
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/home/home"><i class="glyphicon glyphicon-home"></i> 主页</a></li>
        <li>订单管理</li>
        <li class="active">订单列表</li>
        
    </ol>
}


@section content{

<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title"><label>订单列表</label></h3>
        <div class="box-tools">
            <div class="input-group">
                <input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="搜索">
                <div class="input-group-btn">
                    <button class="btn btn-sm btn-default" id="search"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
                <div class="col-sm-6"></div><div class="col-sm-6"></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table  class="table table-bordered table-hover dataTable" role="grid" >
                        <thead>
                            <tr role="row">
                                <th tabindex="0">用户</th>
                                <th tabindex="0">单据名称</th>
                                <th tabindex="0">页面</th>
                                <th tabindex="0">操作</th>
                                <th tabindex="0">日期</th>
                                <th tabindex="0">消息</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr role="row">
                                    <td>@item.Account</td>
                                    <td>@item.Name</td>
                                    <td>@(item.Gender == true ? "男" : "女")</td>
                                    <td>@item.Email</td>
                                    <td>@item.Address</td>
                                </tr>
                            }

                        </tbody>

                    </table>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-5"><div class="dataTables_info">当前第 @(ViewBag.PageIndex + 1) 页（共 @ViewBag.TotalPages 页）</div></div>
                @if (ViewBag.TotalPages != null && ViewBag.TotalPages > 1)
                {
                    <div class="col-sm-7">
                        <div class="dataTables_paginate" id="paginate">
                            <ul class="pagination">

                                @{
                    var currentPage = (int)ViewBag.PageIndex + 1;
                    var beginIndex = 1;
                    if (currentPage < 4)
                    { beginIndex = 1; }
                    else if (currentPage >= (ViewBag.TotalPages - 4))
                    { beginIndex = (int)ViewBag.TotalPages - 4; }
                    else
                    { beginIndex = currentPage - 2; }
                    var count = ViewBag.TotalPages < (beginIndex + 4) ? ViewBag.TotalPages : (beginIndex + 4);
                                }

                                <li class="paginate_button  @(ViewBag.PageIndex==0?"disabled":"") ">
                                    <a href="@(ViewBag.PageIndex==0?"#": Url.Content("~/user/userlist?&&pageIndex=" + (currentPage - 2)))">上一页</a>
                                </li>

                                @for (int i = beginIndex; i <= count; i++)
                                {
                                    <li class="paginate_button @(i == currentPage ? "active" : "") ">
                                        <a href="@Url.Content("~/user/userlist?&&pageIndex=" + (i - 1))">@i</a>
                                    </li>
                                }

                                <li class="paginate_button @(ViewBag.TotalPages == (ViewBag.PageIndex+1) ? "disabled" : "") ">
                                    <a href="@(ViewBag.TotalPages == (ViewBag.PageIndex+1) ?"#":Url.Content("~/user/userlist?&&pageIndex=" + currentPage))">下一页</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


}


@section script{
    @*<script src="~/Js/utility/jquery.min.js"></script>*@
    <script>
        $(function () {  
            $("#orderManager").addClass("active");
            $("#orderManager .treeview-menu").attr("display", "block");
            $("#orderManager .treeview-menu>li").eq(0).addClass("active");
        })
    </script>
}