@{
    Layout = "~/views/template/content.cshtml";
}


@section title{ 经销商平台 | 销售订单  }


@section content_header{

    <h1>
        订单管理
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/home/home"><i class="glyphicon glyphicon-home"></i> 主页</a></li>
        <li>订单管理</li>
        <li class="active">订单列表</li>

    </ol>
}

@model List<OrderManager.Model.Models.OM_Order>

@section content{

    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title"><label>订单列表</label></h3>
            <h6></h6>
            <div class="box box-info">
                <div class="box-header">
                    <h5 class="box-title"><label>查询条件</label></h5>
                </div>
                <div class="box-body">
                    <form id="orderSearchForm" class="form-horizontal" role="form">
                        <input name="Id" value="platform_senssion" type="hidden" />
                        <div class="form-group form-inline">
                            <div class="col-md-4">
                                <span>客户编号: </span>
                                <div class="input-group">
                                    <input type="text" class="form-control pull-right active" name="UserCode" value="@ViewBag.Condition.UserCode">
                                </div><!-- /.input group -->
                            </div>
                            <div class="col-md-4">
                                <span>客户名称: </span>
                                <div class="input-group">
                                    <input type="text" class="form-control pull-right" name="UserName" value="@ViewBag.Condition.UserName">
                                </div><!-- /.input group -->
                            </div>
                            <div class="col-md-4">
                                <span>单据状态: </span>
                                <select class="form-control" style="width:159px;" name="OrderStatus" id="OrderStatus">
                                    <option value="0">未提交</option>
                                    <option value="1">已提交</option>
                                    <option value="2">已对接</option>
                                    <option value="3">审核中</option>
                                    <option value="4">已发货</option>
                                    <option value="100">全部</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <div class="col-md-4">
                                <span>&nbsp;&nbsp;&nbsp;&nbsp;单据号: </span>
                                <div class="input-group">
                                    <input type="text" class="form-control pull-right " name="OrderEntry" value="@ViewBag.Condition.OrderEntry">
                                </div><!-- /.input group -->
                            </div>
                            <div class="col-md-4">
                                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;备注: </span>
                                <div class="input-group">
                                    <input type="text" class="form-control pull-right " name="Remarks" value="@ViewBag.Condition.Remarks">
                                </div><!-- /.input group -->
                            </div>
                        </div>
                        <div class="form-group form-horizontal">
                            <div class="col-md-6">
                                <p>下达日期:</p>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right rangepicks" id="reservation" name="OrderDate" value="@ViewBag.Condition.OrderDate">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p>交货日期:</p>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right rangepicks" name="DeliverDate" value="@ViewBag.Condition.DeliverDate">
                                </div>
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <div class="col-md-6">
                                <button name="btn-search" class="btn btn-info" id="search"><i class="glyphicon glyphicon-search"></i> 搜索 </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div><!-- /.box-header -->
        <div class="box-body">
            <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                <div class="row">
                    <div class="col-sm-6"></div><div class="col-sm-6"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered table-hover dataTable" role="grid">
                            <thead>
                                <tr role="row">
                                    <th tabindex="0" style="min-width:10px">客户编号</th>
                                    <th tabindex="0" style="min-width:10px">客户名称</th>
                                    <th tabindex="0" style="min-width:10px">单据号</th>
                                    <th tabindex="0" style="min-width:10px">单据状态</th>
                                    <th tabindex="0" style="min-width:10px">下达日期</th>
                                    <th tabindex="0" style="min-width:10px">交货日期</th>
                                    <th tabindex="0" style="min-width: 10px; display: none">物流公司</th>
                                    <th tabindex="0" style="min-width: 10px; display: none">物流单号</th>
                                    <th tabindex="0" style="min-width: 10px; display: none">物流联系人</th>
                                    <th tabindex="0" style="min-width: 10px; display: none">其它</th>
                                    <th tabindex="0" style="min-width:10px">备注</th>
                                    <th tabindex="0" style="min-width:10px">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr role="row">

                                        <td>@item.CardCode</td>
                                        <td>@item.CardName</td>
                                        <td>@item.DocEntry</td>
                                        @switch (item.DocStatus)
                                        {
                                            case "0":
                                                <td>未提交</td>
                                                break;
                                            case "1":
                                            <td>已提交</td>
                                                break;
                                            case "2":
                                            <td>已对接</td>
                                                break;
                                            case "3":
                                            <td>审核中</td>
                                                break;
                                            case "4":
                                            <td>已发货</td>
                                                break;
                                            default:
                                            <td>未知状态</td>
                                                break;
                                        }

                                        <td>@(item.DocDate == null ? "" : item.DocDate.Value.ToShortDateString())</td>
                                        <td>@(item.DocDueDate == null ? "" : item.DocDueDate.Value.ToShortDateString())</td>
                                        <td style="display: none">@item.TPLCompany</td>
                                        <td style="display: none">@item.TPLOrder</td>
                                        <td style="display: none">@item.TPLContact</td>
                                        <td style="display: none">@item.NumCard</td>
                                        <td>@(item.NoteNotice)</td>
                                        <td>
                                            <input type="hidden" name="orderGuid" value="@item.Guid" />
                                            <button name="btn-showMsg" class="btn btn-primary">查看订单</button>
                                            <button name="btn-showLogistics" class="btn btn-primary">查看物流</button>
                                        </td>
                                    </tr>
                                }

                            </tbody>

                        </table>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5"><div class="dataTables_info">当前第 @(ViewBag.PageIndex + 1) 页（共 @ViewBag.TotalPages 页）</div></div>
                    @if (ViewBag.TotalPages != null && ViewBag.TotalPages > 1)
                    {
                        <div class="col-sm-7">
                            <div class="dataTables_paginate" id="paginate">
                                <ul class="pagination">

                                    @{
                        var currentPage = (int)ViewBag.PageIndex + 1;
                        var beginIndex = 1;
                        if (currentPage < 4)
                        { beginIndex = 1; }
                        else if (currentPage >= (ViewBag.TotalPages - 4))
                        { beginIndex = (int)ViewBag.TotalPages - 4; }
                        else
                        { beginIndex = currentPage - 2; }
                        var count = ViewBag.TotalPages < (beginIndex + 4) ? ViewBag.TotalPages : (beginIndex + 4);
                                    }

                                    <li class="paginate_button  @(ViewBag.PageIndex==0?"disabled":"") ">
                                        <a href="@(ViewBag.PageIndex == 0 ? "#" : Url.Content("~/order/index?Condition=" + ViewBag.Condition + "&&pageIndex=" + (currentPage - 2)))">上一页</a>
                                    </li>

                                    @for (int i = beginIndex; i <= count; i++)
                                    {
                                        <li class="paginate_button @(i == currentPage ? "active" : "") ">
                                            <a href="@Url.Content("~/order/index?Condition=" + ViewBag.Condition + "&&pageIndex=" + (i - 1))">@i</a>
                                        </li>
                                    }

                                    <li class="paginate_button @(ViewBag.TotalPages == (ViewBag.PageIndex+1) ? "disabled" : "") ">
                                        <a href="@(ViewBag.TotalPages == (ViewBag.PageIndex + 1) ? "#" : Url.Content("~/order/index?Condition=" + ViewBag.Condition + "&&pageIndex=" + currentPage))">下一页</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="Logistics" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">物流信息</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-hover dataTable" role="grid">
                        <thead>
                            <tr role="row">
                                <th tabindex="0" style="min-width:10px">物流公司</th>
                                <th tabindex="0" style="min-width:10px">物流单号</th>
                                <th tabindex="0" style="min-width:10px">物流联系人</th>
                                <th tabindex="0" style="min-width:10px">其它</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr role="row" id="LogisticsRow"></tr>

                        </tbody>

                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}


@section script{
    @*<script src="~/Js/utility/jquery.min.js"></script>*@
    <script>
        $(function () {
            $("#orderManager").addClass("active");
            $("#orderManager .treeview-menu").attr("display", "block");
            $("#orderManager .treeview-menu>li").eq(0).addClass("active");

            $('.rangepicks').daterangepicker({
                //  "singleDatePicker": true,
                "showDropdowns": true
                //   "autoApply": true,
            });


            $('#OrderStatus').children("option").each(function () {
                if ($(this).val() == '@(ViewBag.Condition.OrderStatus)') {
                    $(this).attr("selected", "selected");
                }
            });

            $("#search").click(function () {
                var data = $("#orderSearchForm").serialize();
                location.href = 'index?condition=' + data;
            });

            $("button[name='btn-showMsg']").each(function () {
                $(this).click(function () {
                    $(this).addClass("disabled");
                    var guid = $(this).siblings("input[name='orderGuid']").val();
                    location.href = '@(Url.Content("~/order/orderitem"))?orderItemGuid=' + guid;
                });
            })
            $("button[name='btn-showLogistics']").each(function () {
                $(this).click(function () {
                    $("#LogisticsRow").empty();
                    var arrTds = $("td", $(this).parent().parent());
                    var row = "<td>" + $(arrTds[6]).html() + "</td><td>" + $(arrTds[7]).html() + "</td><td>" + $(arrTds[8]).html() + "</td><td>" + $(arrTds[9]).html() + "</td>";
                    $("#LogisticsRow").append(row);
                    $("#Logistics").modal('show');
                })
            })

        })
    </script>
}