@{
    Layout = "~/views/template/content.cshtml";
}


@section title{ 经销商平台 | 下订单  }


@section content_header{
    <h1>
        订单管理
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/home/home"><i class="glyphicon glyphicon-home"></i> 主页</a></li>
        <li>订单管理</li>
        <li class="active">下订单</li>

    </ol>
}


@section content{
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">
                <label>订单下达</label>
                @if (Model != null)
                {
                    <small>&nbsp;【订单号：  @Model.DocEntry】</small>
                }

            </h3>
        </div>
        <div class="box-body">
            <div>
                <div class="btn-group" style="margin:2%;">

                    <div>
                        <button class="btn btn-default btn-sm disabled">&nbsp;客户代码</button>
                        <input type="text" name="UserCode" id="UserCode" class="form-control input-sm pull-right" style="width: 250px;" value="@(Model==null ?"": Model.CardCode)" /> &nbsp;
                    </div>
                    <div>
                        <br />
                        <button class="btn btn-default btn-sm disabled">&nbsp;客户名称</button>
                        <input type="text" name="CardName" id="CardName" class="form-control input-sm pull-right " style="width: 250px;" value="@(Model == null ? "" : Model.CardName)" readonly />
                    </div>

                    <input type="hidden" id="OrderGuid" value="@(Model==null ?"": Model.Guid)" />
                </div><!-- /.btn-group -->

                <div class="btn-group pull-right" style="margin:2%; ">
                    <div>
                        <button class="btn btn-default btn-sm disabled"><i class="glyphicon"></i>&nbsp;单据状态</button>
                        <input id="status" value="未提交" disabled type="text" name="status" class="form-control  input-sm pull-right" style="width:180px;" />
                    </div>
                    <div>
                        <br />
                        <button class="btn btn-default btn-sm disabled"><i class="glyphicon"></i>&nbsp;下达日期</button>
                        <input id="datetimepicker" type="text" class="form-control  input-sm pull-right" style="width:180px;" value="@(Model == null ? "" : Model.DocDate.ToString("yyyy.MM.dd"))" />
                        <div class="iframeHtmlControlContainer" id="iframeHtmlControlContainer">
                            <iframe width="245px" height="219px" frameborder="0" allowtransparency="true" id="iframeHtmlControl" src="" style="position: absolute; z-index: 999; display: none;"></iframe>
                        </div>
                        <div>
                            <br />
                            <button class="btn btn-default btn-sm disabled"><i class="glyphicon"></i>&nbsp;交货日期</button>
                            <input id="docDueDateTimePicker" type="text" class="form-control  input-sm pull-right" style="width:180px;" value="" />
                            <div class="iframeHtmlControlContainer" id="docDueDateiframeHtmlControlContainer">
                                <iframe width="245px" height="219px" frameborder="0" allowtransparency="true" id="docDueDateiframeHtmlControl" src="" style="position: absolute; z-index: 999; display: none;"></iframe>
                            </div>
                            @*<div class="input-append date" id="dateteimepicker" style="float: right !important;  ">
                                    <input style="width:180px; height:30px" type="text" id="datePicker" value="@(Model == null ? "" : Model.DocDate)" />
                                    <input type="hidden" id="docDate" name="docDate" value="@(Model == null ? "" : Model.DocDate)" /><br />
                                </div>*@
                        </div><!-- /.btn-group -->
                    </div>

                </div>
                <div class="row" style="border-top:1px solid #ff6a00;margin:2%;">
                    <div class="col-sm-12">
                        <table class="table table-bordered table-hover dataTable" role="grid" id="order_table">
                            <thead>
                                <tr role="row">
                                    <th tabindex="0">物料编号</th>
                                    <th tabindex="0">物料名称</th>
                                    <th id="price" tabindex="0">价格</th>
                                    <th tabindex="0">数量</th>
                                    <th tabindex="0">货币</th>
                                    <th tabindex="0">总价</th>
                                    <th tabindex="0">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {

                                    foreach (var item in Model.SalesOrderLine)
                                    {


                                        <tr role="row">
                                            <input type='hidden' name='item_guid' value="@item.Guid" />
                                            <td>@item.ItemCode</td>
                                            <td>@item.ItemName</td>
                                            <td>@item.Price.ToString("0.00")</td>
                                            <td>@item.Quantity.ToString("0")</td>
                                            <td>@item.Currency</td>
                                            <td>@item.TotalPrice.ToString("0.00")</td>
                                            <td>
                                                <button id="om-OrderLine-Save" name="om-OrderLine-Save" class="btn btn-info "><i class="glyphicon  fa-save "></i>保存</button>
                                                <button id="om-OrderLine-Edit" name="om-OrderLine-Edit" class="btn btn-info "><i class="glyphicon  fa-save "></i>修改</button>
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>

                        </table>

                    </div>
                </div>

                <div style="border-top:1px solid #ff6a00;margin:2%;">

                    <div class="btn-group" style="padding-top:2%;">
                        <button class="btn btn-default btn-sm disabled"><i class="glyphicon glyphicon-edit"></i>&nbsp;备注</button>
                        <textarea id="remark" class="form-control input-sm pull-righ" rows="4" style="width:400px;" placeholder="输入备注 ..."> @(Model == null ? "" : Model.Remarks)</textarea>
                    </div><!-- /.btn-group -->

                    <div class="btn-group" style="padding-top:2%;left:200px;top:-30px">
                        <button class="btn btn-default btn-sm disabled"><i class="glyphicon glyphicon-edit"></i>行总计</button>
                        <label id="totalPrice" class="form-control input-sm pull-right" style="width:100px">@(Model == null ? "" : Model.TotalPrice)</label>
                    </div>
                    <div class="btn-group pull-right" style="padding-top:2%;">
                        <button class="btn btn-info " id="addRow" style="margin-right:10px;"><i class="glyphicon glyphicon-plus"></i>&nbsp;添加行</button>
                        <button class="btn btn-warning " id="removeRow"><i class="glyphicon glyphicon-remove"></i>&nbsp;删除行</button>
                    </div><!-- /.btn-group -->
                </div>


                <div style="border-top:1px solid #ff6a00;margin:2%;">

                    <div class="btn-group" style="padding-top:2%;">
                        <button class="btn btn-primary" id="saveDraft" style="margin-right:10px;width:100px;"><i class="glyphicon glyphicon-edit"></i>&nbsp;保存草稿</button>
                        <button class="btn btn-primary" id="sumbit" style="margin-right:10px;width:100px;"><i class="glyphicon glyphicon-ok"></i>&nbsp;提交</button>
                        <button class="btn btn-primary" id="sumbit2SAP" style="margin-right:10px;width:100px;"><i class="glyphicon glyphicon-link"></i>&nbsp;对接SAP</button>
                    </div><!-- /.btn-group -->
                </div>
            </div>
        </div>

}


@section script{
    @*<script src="~/Js/utility/jquery.min.js"></script>*@
    <link href="~/Css/jquery.treegrid.css" rel="stylesheet" />
    <script src="~/Js/utility/jquery.treegrid.min.js"></script>
    <script src="~/Js/utility/jquery.treegrid.bootstrap3.js"></script>
    <script>
        var currentRow;
        var isEdit = false;
        var saveClick = false;
        var rowNum = 0;
        var docDateClick = false;
        var docDueDateClick = false;
        $(function () {
            $("#orderManager").addClass("active");
            $("#orderManager .treeview-menu").attr("display", "block");
            $("#orderManager .treeview-menu>li").eq(1).addClass("active");
            $("#status").val('@(ViewBag.Status == null ? "未提交" : ViewBag.Status)');
            $("#docDueDateTimePicker").val('@(ViewBag.DocDueDate == null ? "" : ViewBag.DocDueDate)');
            $("#datetimepicker").val('@(ViewBag.DocDate == null ? "" : ViewBag.DocDate)');
            //客户代码dialog
            $("#UserCode").dblclick(function () {
                createDialog('@(Url.Content("~/order/usercodelist"))');
            })
            var role = $("#Uniquerole").val();
            if (role == "D3BEB5F5-DFCE-4AAB-A3BE-BB44007FFDD2") {
                $("#sumbit2SAP").hide();
                $("#sysPrice").attr("disabled", "true")
            }

            if ($("#status").val() != "未提交") {
                $("#addRow").hide();
                $("#removeRow").hide();
                $("button[name = 'om-OrderLine-Save']").hide();
                $("button[name='om-OrderLine-Edit']").hide();
            }

            $("#datetimepicker").click(function () {
                docDateClick = true;
                docDueDateClick = false;
                $("#iframeHtmlControl").attr("src", "/Order/DateTimePickerIframe");
                $("#iframeHtmlControl").show();
            })
            $("#docDueDateTimePicker").click(function () {
                docDateClick = false;
                docDueDateClick = true;
                $("#docDueDateiframeHtmlControl").attr("src", "/Order/DateTimePickerIframe");
                $("#docDueDateiframeHtmlControl").show();
            })

            //添加行
            $("#addRow").click(function () {
                //$('#addRow').removeClass("disabled");
                if (isEdit == true)
                    return;

                isEdit = true;
                var row = "  <tr role='row'>   <input type='hidden' name='item_guid'/> <td><input id='itemcode' type='text'/></td> <td><input id='itemname' type='text'/></td> <td><input id='itemprice' type='text'/></td> <td><input id='itemquantity' type='text'/></td> <td>RMB</td> <td>--</td><td><button id='om-OrderLine-Save" + rowNum + "' name='om-OrderLine-Save" + rowNum + "' class='btn btn-info '><i class='glyphicon  fa-save '></i>保存</button> &nbsp;  <button id='om-OrderLine-Edit" + rowNum + "' name='om-OrderLine-Edit" + rowNum + "' class='btn btn-info '><i class='glyphicon  fa-save '></i>修改</button></td>   </tr>  ";
                $("#order_table tbody").append(row);
                var newrow = $("#order_table tr").last("tr");
                RowClickEvent($(newrow));
                itemProductEvent("itemcode");
                itemProductEvent("itemname");
                itemProductEvent("itemprice");
                $("#itemprice").attr("disabled", "true");
                itemSave("om-OrderLine-Save" + rowNum);
                itemEdit("om-OrderLine-Edit" + rowNum);
                rowNum++;
            })
            //删除行
            $("#removeRow").click(function () {
                if ($('th', currentRow).length != 0) {
                    return;
                }
                isEdit = false;
                saveClick = false
                $(currentRow).remove();
            })
            //行保存事件
            function itemSave(id) {
                $("#" + id).click(function () {
                    saveClick = true;
                    //GetLineTotal();
                    //console.log($(this))
                })
            }
            //行编辑事件
            function itemEdit(id) {
                $("#" + id).click(function () {

                    if (isEdit) {
                        return;
                    }
                    isEdit = true;
                    //Change tr  row to edit row
                    var arrTds = $("td", $(this).parent().parent());

                    $(arrTds[0]).html("<input id='itemcode' type='text' value='" + $(arrTds[0]).html() + "'/> ")
                    $(arrTds[1]).html("<input id='itemname' type='text' value='" + $(arrTds[1]).html() + "'/> ")
                    $(arrTds[2]).html("<input id='itemprice' type='text' value='" + $(arrTds[2]).html() + "'/> ")
                    $(arrTds[3]).html("<input id='itemquantity' type='text' value='" + $(arrTds[3]).html() + "'/> ")
                    $("#itemprice").attr("disabled", "true");
                    RowClickEvent($(this).parent().parent());
                    itemProductEvent("itemcode");
                    itemProductEvent("itemname");
                    itemProductEvent("itemprice");

                });
            }

            //行事件
            $("#order_table tr").each(function () {
                RowClickEvent($(this));

                $("button[name='om-OrderLine-Save']", $(this)).click(function () {
                    //GetLineTotal();
                    saveClick = true;
                })

                $("button[name='om-OrderLine-Edit']", $(this)).click(function () {
                    if (isEdit) {
                        return;
                    }
                    isEdit = true;
                    var arrTds = $(this).parent().siblings('td');

                    if ($(arrTds[0]).html().indexOf("<") != -1 || $(arrTds[1]).html().indexOf("<") != -1 || $(arrTds[2]).html().indexOf("<") != -1 || $(arrTds[3]).html().indexOf("<") != -1)
                        return;

                    $(arrTds[0]).html("<input id='itemcode' type='text' value='" + $(arrTds[0]).html() + "'/> ")
                    $(arrTds[1]).html("<input id='itemname' type='text' value='" + $(arrTds[1]).html() + "'/> ")
                    $(arrTds[2]).html("<input id='itemprice' type='text' value='" + $(arrTds[2]).html() + "'/> ")
                    $(arrTds[3]).html("<input id='itemquantity' type='text' value='" + $(arrTds[3]).html() + "'/> ")
                    $("#itemprice").attr("disabled", "true");
                    itemProductEvent("itemcode");
                    itemProductEvent("itemname");
                    itemProductEvent("itemprice");

                })

            });

            //保存草稿
            $("#saveDraft").click(function () {
                if (isEdit) {
                    alertInfo("提示", "当前处于编辑状态");
                    return;
                }
                if ($("#status").val() != "未提交") {
                    alertInfo("提示", "当前状态不允许此操作");
                    return;
                }
                var data = GetCurrentPageDate();
                $(this).addClass("disabled");
                getAsynData("saveDraft", "obj=" + data, function (json) {
                    $("#status").val("未提交");
                    $("#OrderGuid").val(json.Data);
                    alertInfo("提示", "保持草稿成功");
                });
            });

            //提交
            $("#sumbit").click(function () {
                if (isEdit) {
                    alertInfo("提示", "当前处于编辑状态");
                    return;
                }

                if ($("#status").val() != "未提交") {
                    alertInfo("提示", "当前状态不允许此操作");
                    return;
                }
                if ($("#docDueDateTimePicker").val() == "" || $("#docDueDateTimePicker").val() == " ") {
                    alertInfo("提示", "请填写交货日期");
                    return;
                }

                var data = $("#OrderGuid").val();

                if (isNullorEmptyString(data)) {
                    alertInfo("提示", "无效订单号");
                    return;
                }
                $(this).addClass("disabled");
                getAsynData("SubmitOrder", "orderGuid=" + data, function (json) {
                    $("#status").val(json.Data);
                    alertInfo("提示", "提交成功");
                });

            });

            //对接
            $("#sumbit2SAP").click(function () {
                if (isEdit) {
                    alertInfo("提示", "当前处于编辑状态");
                    return;
                }

                if ($("#status").val() != "已提交") {
                    alertInfo("提示", "当前状态不允许此操作");
                    return;
                }

                var data = $("#OrderGuid").val();

                if (isNullorEmptyString(data)) {
                    alertInfo("提示", "无效订单号");
                    return;
                }
                $(this).addClass("disabled");
                getAsynData("SubmitOrder2SAp", "orderGuid=" + data, function (json) {
                    console.log(json.Code);
                    if (json.Code == "0") {
                        $("#status").val(json.Data);
                        alertInfo("提示", "对接成功");
                    } else {
                        console.log("error");
                        alertInfo("提示", "对接失败");
                    }
                });

            });
        })

        function setDateTimePikcerValue(date) {
            if (docDateClick) {
                $("#datetimepicker").val(date);
                docDateClick = false;
            }
            else {
                docDueDateClick = false;
                $("#docDueDateTimePicker").val(date);

            }

        }
        function dateTimePickerClose() {
            if (docDateClick) {
                $("#iframeHtmlControl").hide();
                docDateClick = false;
            }
            else {
                $("#docDueDateiframeHtmlControl").hide();
                docDueDateClick = false;
            }

        }

        function GetLineTotal() {
            var totalPrice = 0;
            $("#order_table tr").each(function () {
                var tdArr = $('td', $(this));
                if (tdArr == 0) {
                    return;
                }
                if (parseInt($(tdArr[5]).html()) == "NaN" || typeof ($(tdArr[5]).html()) == "undefined") {

                }
                else {
                    totalPrice = parseFloat($(tdArr[5]).html()) + totalPrice;
                }
            })

            $("#totalPrice").html(totalPrice);
        }

        function GetCurrentPageDate() {
            var result = {
                Guid: $("#OrderGuid").val(),
                CardCode: "",
                DocStatus: "",
                CardName: "",
                DocDate: "",
                DocDueDate: "",
                SalesOrderLine: new Array(),//{ [],[],[] }
                Remarks: ""

            };
            result.CardCode = $("#UserCode").val();
            result.Remarks = $("#remark").val();
            result.DocStatus = $("#status").val();
            result.CardName = $("#CardName").val();
            result.DocDate = $("#datetimepicker").val();
            result.DocDueDate = $("#docDueDateTimePicker").val() == " " ? null : $("#docDueDateTimePicker").val();
            $("#order_table tr").each(function () {
                var tdArr = $('td', $(this));
                if (tdArr.length == 0)
                    return;
                var row = {
                    Guid: $('input', $(this)).val(),
                    ItemCode: $(tdArr[0]).html(),
                    ItemName: $(tdArr[1]).html(),
                    Price: $(tdArr[2]).html(),
                    Quantity: $(tdArr[3]).html(),
                    Currency: $(tdArr[4]).html(),
                    TotalPrice: $(tdArr[5]).html(),
                };

                result.SalesOrderLine[result.SalesOrderLine.length] = row;
            })

            var data = JSON.stringify(result);
            return data;

        }

        function RowClickEvent(tr) {
            $(tr).click(function () {
                //是否当前行  currentrow ==old
                if ($(currentRow).html() == $(tr).html()) {
                    var editInput = $("td input", $(currentRow)).length;
                    if (editInput > 0) {
                        if (saveClick) {  //b保存按钮，移除input框
                            RemoveEditInput(currentRow);
                        }

                    }
                }

                currentRow = $(tr);
                $(this).css("background", "#f4f4f4");
                $(this).siblings("tr").css("background", "");
            })
        }

        function RemoveEditInput(tr) {
            var arrInput = $("td input", $(tr));

            if (isNaN($(arrInput[2]).val())
                || isNaN($(arrInput[3]).val()) || parseInt($(arrInput[3]).val()) == 0) {
                $(tr).remove();
                alertInfo("提示", "订单数据填写有误");
                saveClick = false;
                isEdit = false;
                return;
            }
            for (var i = 0; i < arrInput.length; i++) {
                if ($(arrInput[i]) == null || isNullorEmptyString($(arrInput[i]).val())) {
                    $(tr).remove();
                    alertInfo("提示", "订单数据填写有误");
                    break;
                }

                var inputValue = $(arrInput[i]).val();
                var parent = $(arrInput[i]).parent();  //td
                $(parent).html(inputValue);

            }
            var total = parseFloat($(arrInput[2]).val()) * parseFloat($(arrInput[3]).val());
            //console.log(parseFloat($("#totalPrice").html()));
            //if ($("#totalPrice").html() == "") {
            //    console.log("is NAN");
            //    $("#totalPrice").html(total);
            //}
            //else {
            //    console.log("Not NAN");
            //    var lineTotal = total + parseFloat($("#totalPrice").html());
            //    $("#totalPrice").html(lineTotal);

            //}
            $("td", $(tr)).eq(-2).html(total);
            GetLineTotal();
            isEdit = false;
            saveClick = false;
        }

        function itemProductEvent(id) {
            $("#" + id).dblclick(function () {
                if ($("#UserCode").val() == "") {
                    alertInfo("提示", "添加订单项前，请先选择客户。");
                    return;
                }
                createDialog('@(Url.Content("~/order/productlist"))', "cardCode=" + $("#UserCode").val());
            });
        }


    </script>
}
