@{
    Layout = "~/views/template/content.cshtml";
}


@section title{ 经销商平台 | 下订单  }


@section content_header{
    <h1>
        订单管理
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/home/home"><i class="glyphicon glyphicon-home"></i> 主页</a></li>
        <li>订单管理</li>
        <li class="active">下订单</li>

    </ol>
}


@section content{
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">
                <label>订单下达</label>
                @if (Model != null)
                {
                    <small>&nbsp;【订单号：  @Model.DocEntry】</small>
                }

            </h3>
        </div>
        <div class="box-body">
            <div>
                <div class="btn-group" style="margin:2%;">

                    <div>
                        <button class="btn btn-default btn-sm disabled">&nbsp;客户代码</button>
                        <input type="text" name="UserCode" id="UserCode" class="form-control input-sm pull-right" style="width: 200px;" value="@(Model==null ?"": Model.CardCode)" /> &nbsp;
                    </div>
                    <div>
                        <br />
                        <button class="btn btn-default btn-sm disabled">&nbsp;客户名称</button>
                        <label id="CardName" class="form-control input-sm pull-right " style="width: 200px;">@(Model == null ? "" : Model.CardName) </label>
                    </div>

                    <input type="hidden" id="OrderGuid" value="@(Model==null ?"": Model.Guid)" />
                </div><!-- /.btn-group -->

                <div class="btn-group pull-right" style="margin:2%; ">
                    <div>
                        <button class="btn btn-default btn-sm disabled"><i class="glyphicon"></i>&nbsp;单据状态</button>
                        <input id="status" value="未提交" disabled type="text" name="status" class="form-control  input-sm pull-right" style="width:180px;" />
                    </div>
                    <div>
                        <br />
                        <button class="btn btn-default btn-sm disabled"><i class="glyphicon"></i>&nbsp;单据日期</button>
                        <div class="input-append date" id="dateteimepicker" style="float: right !important; ">
                            <input style="width:180px; height:30px" type="text" id="datePicker" value="@(Model == null ? "" : Model.DocDate)" data-link-field="docDate" readonly />
                            <span class=" add-on"><i class="icon-remove"></i></span>
                            <span class="add-on"><i class="icon-th"></i></span>
                            <input type="hidden" id="docDate" name="docDate" value="@(Model == null ? "" : Model.DocDate)" /><br />
                        </div>
                    </div><!-- /.btn-group -->
                </div>

            </div>
            <div class="row" style="border-top:1px solid #ff6a00;margin:2%;">
                <div class="col-sm-12">
                    <table class="table table-bordered table-hover dataTable" role="grid" id="order_table">
                        <thead>
                            <tr role="row">
                                <th tabindex="0">物料编号</th>
                                <th tabindex="0">物料名称</th>
                                <th tabindex="0">价格</th>
                                <th tabindex="0">数量</th>
                                <th tabindex="0">货币</th>
                                <th tabindex="0">总价</th>
                                <th tabindex="0">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {

                                foreach (var item in Model.SalesOrderLine)
                                {


                                    <tr role="row">
                                        <input type='hidden' name='item_guid' value="@item.Guid" />
                                        <td>@item.ItemCode</td>
                                        <td>@item.ItemName</td>
                                        <td>@item.Price.ToString("0.00")</td>
                                        <td>@item.Quantity.ToString("0")</td>
                                        <td>@item.Currency</td>
                                        <td>@item.TotalPrice.ToString("0.00")</td>
                                        <td>
                                            <button id="om-OrderLine-Save" name="om-OrderLine-Save" class="btn btn-info "><i class="glyphicon  fa-save "></i>保存</button>
                                            <button id="om-OrderLine-Edit" name="om-OrderLine-Edit" class="btn btn-info "><i class="glyphicon  fa-save "></i>修改</button>
                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>

                    </table>

                </div>
            </div>

            <div style="border-top:1px solid #ff6a00;margin:2%;">

                <div class="btn-group" style="padding-top:2%;">
                    <button class="btn btn-default btn-sm disabled"><i class="glyphicon glyphicon-edit"></i>&nbsp;备注</button>
                    <textarea id="remark" class="form-control input-sm pull-righ" rows="4" style="width:400px;" placeholder="输入备注 ..."> @(Model == null ? "" : Model.Remarks)</textarea>
                </div><!-- /.btn-group -->

                <div class="btn-group pull-right" style="padding-top:2%;">
                    <button class="btn btn-info " id="addRow" style="margin-right:10px;"><i class="glyphicon glyphicon-plus"></i>&nbsp;添加行</button>
                    <button class="btn btn-warning " id="removeRow"><i class="glyphicon glyphicon-remove"></i>&nbsp;删除行</button>
                </div><!-- /.btn-group -->
            </div>


            <div style="border-top:1px solid #ff6a00;margin:2%;">

                <div class="btn-group" style="padding-top:2%;">
                    <button class="btn btn-primary" id="saveDraft" style="margin-right:10px;width:100px;"><i class="glyphicon glyphicon-edit"></i>&nbsp;保存草稿</button>
                    <button class="btn btn-primary" id="sumbit" style="margin-right:10px;width:100px;"><i class="glyphicon glyphicon-ok"></i>&nbsp;提交</button>
                    <button class="btn btn-primary" id="sumbit2SAP" style="margin-right:10px;width:100px;"><i class="glyphicon glyphicon-link"></i>&nbsp;对接SAP</button>
                </div><!-- /.btn-group -->
            </div>
        </div>
    </div>

}


@section script{
    @*<script src="~/Js/utility/jquery.min.js"></script>*@
    <script>
        var currentRow;
        var isEdit = false;
        var saveClick = false;
        var rowNum = 0;
        $(function () {
            $("#orderManager").addClass("active");
            $("#orderManager .treeview-menu").attr("display", "block");
            $("#orderManager .treeview-menu>li").eq(1).addClass("active");
            $("#status").val('@(ViewBag.Status == null ? "未提交" : ViewBag.Status)');
            $("#docDate").val('@(ViewBag.DocDate == null ? "" : ViewBag.DocDate)');
            $("#datePicker").val('@(ViewBag.DocDate == null ? "" : ViewBag.DocDate)');
            //客户代码dialog
            $("#UserCode").dblclick(function () {
                createDialog('@(Url.Content("~/order/usercodelist"))');
            })

            $("#dateteimepicker").datetimepicker({
                language: 'zh-CN',
                format: "yyyy-MM-dd",
                showMeridian: true,
                autoclose: true,
                todayBtn: true,
                minView: 2,
                forceParse: false,
                pickerPosition: 'bottom-left'
            });

            //添加行
            $("#addRow").click(function () {
                //$('#addRow').removeClass("disabled");
                if (isEdit == true)
                    return;

                isEdit = true;
                var row = "  <tr role='row'>   <input type='hidden' name='item_guid'/> <td><input id='itemcode' type='text'/></td> <td><input id='itemname' type='text'/></td> <td><input id='itemprice' type='text'/></td> <td><input id='itemquantity' type='text'/></td> <td>RMB</td> <td>--</td><td><button id='om-OrderLine-Save" + rowNum + "' name='om-OrderLine-Save" + rowNum + "' class='btn btn-info '><i class='glyphicon  fa-save '></i>保存</button> &nbsp;  <button id='om-OrderLine-Edit" + rowNum + "' name='om-OrderLine-Edit" + rowNum + "' class='btn btn-info '><i class='glyphicon  fa-save '></i>修改</button></td>   </tr>  ";
                $("#order_table tbody").append(row);
                var newrow = $("#order_table tr").last("tr");
                RowClickEvent($(newrow));
                itemProductEvent("itemcode");
                itemProductEvent("itemname");
                itemProductEvent("itemprice");
                itemSave("om-OrderLine-Save" + rowNum);
                itemEdit("om-OrderLine-Edit" + rowNum);
                rowNum++;
            })
            //删除行
            $("#removeRow").click(function () {
                if ($('th', currentRow).length != 0) {
                    return;
                }
                $(currentRow).remove();
            })
            //行保存事件
            function itemSave(id) {
                $("#" + id).click(function () {
                    saveClick = true;
                    console.log($(this))
                })
            }
            //行编辑事件
            function itemEdit(id) {
                $("#" + id).click(function () {

                    if (isEdit) {
                        return;
                    }
                    isEdit = true;
                    //Change tr  row to edit row
                    var arrTds = $("td", $(this).parent().parent());

                    $(arrTds[0]).html("<input id='itemcode' type='text' value='" + $(arrTds[0]).html() + "'/> ")
                    $(arrTds[1]).html("<input id='itemname' type='text' value='" + $(arrTds[1]).html() + "'/> ")
                    $(arrTds[2]).html("<input id='itemprice' type='text' value='" + $(arrTds[2]).html() + "'/> ")
                    $(arrTds[3]).html("<input id='itemquantity' type='text' value='" + $(arrTds[3]).html() + "'/> ")

                    RowClickEvent($(this).parent().parent());
                    itemProductEvent("itemcode");
                    itemProductEvent("itemname");
                    itemProductEvent("itemprice");

                });
            }

            //行事件
            $("#order_table tr").each(function () {
                RowClickEvent($(this));

                $("button[name='om-OrderLine-Save']", $(this)).click(function () {
                    saveClick = true;
                })

                $("button[name='om-OrderLine-Edit']", $(this)).click(function () {
                    if (isEdit) {
                        return;
                    }
                    isEdit = true;
                    var arrTds = $(this).parent().siblings('td');

                    $(arrTds[0]).html("<input id='itemcode' type='text' value='" + $(arrTds[0]).html() + "'/> ")
                    $(arrTds[1]).html("<input id='itemname' type='text' value='" + $(arrTds[1]).html() + "'/> ")
                    $(arrTds[2]).html("<input id='itemprice' type='text' value='" + $(arrTds[2]).html() + "'/> ")
                    $(arrTds[3]).html("<input id='itemquantity' type='text' value='" + $(arrTds[3]).html() + "'/> ")

                    itemProductEvent("itemcode");
                    itemProductEvent("itemname");
                    itemProductEvent("itemprice");

                })

            });

            //保存草稿
            $("#saveDraft").click(function () {
                if (isEdit) {
                    alertInfo("提示", "当前处于编辑状态");
                    return;
                }
                if ($("#status").val() != "未提交") {
                    alertInfo("提示", "当前状态不允许此操作");
                    return;
                }
                var data = GetCurrentPageDate();
                $(this).addClass("disabled");
                getAsynData("saveDraft", "obj=" + data, function (json) {
                    $("#status").val("未提交");
                    $("#OrderGuid").val(json.Data);
                    alertInfo("提示", "保持草稿成功");
                });
            });

            //提交
            $("#sumbit").click(function () {
                if (isEdit) {
                    alertInfo("提示", "当前处于编辑状态");
                    return;
                }

                if ($("#status").val() != "未提交") {
                    alertInfo("提示", "当前状态不允许此操作");
                    return;
                }

                var data = $("#OrderGuid").val();

                if (isNullorEmptyString(data)) {
                    alertInfo("提示", "无效订单号");
                    return;
                }
                $(this).addClass("disabled");
                getAsynData("SubmitOrder", "orderGuid=" + data, function (json) {
                    $("#status").val(json.Data);
                    alertInfo("提示", "提交成功");
                });

            });

            //对接
            $("#sumbit2SAP").click(function () {
                if (isEdit) {
                    alertInfo("提示", "当前处于编辑状态");
                    return;
                }

                if ($("#status").val() != "已提交") {
                    alertInfo("提示", "当前状态不允许此操作");
                    return;
                }

                var data = $("#OrderGuid").val();

                if (isNullorEmptyString(data)) {
                    alertInfo("提示", "无效订单号");
                    return;
                }
                $(this).addClass("disabled");
                getAsynData("SubmitOrder2SAp", "orderGuid=" + data, function (json) {
                    $("#status").val(json.Data);
                    alertInfo("提示", "对接成功");

                });

            });

        })

        function GetCurrentPageDate() {
            var result = {
                Guid: $("#OrderGuid").val(),
                CardCode: "",
                DocStatus: "",
                CardName: "",
                DocDate: "",
                SalesOrderLine: new Array(),//{ [],[],[] }
                Remarks: ""

            };
            result.CardCode = $("#UserCode").val();
            result.Remarks = $("#remark").val();
            result.DocStatus = $("#status").val();
            result.CardName = $("#CardName").html();
            result.DocDate = $("#docDate").val();
            $("#order_table tr").each(function () {
                var tdArr = $('td', $(this));
                if (tdArr.length == 0)
                    return;
                var row = {
                    Guid: $('input', $(this)).val(),
                    ItemCode: $(tdArr[0]).html(),
                    ItemName: $(tdArr[1]).html(),
                    Price: $(tdArr[2]).html(),
                    Quantity: $(tdArr[3]).html(),
                    Currency: $(tdArr[4]).html(),
                    TotalPrice: $(tdArr[5]).html(),
                };

                result.SalesOrderLine[result.SalesOrderLine.length] = row;
            })

            var data = JSON.stringify(result);
            console.log(data);
            return data;

        }

        function RowClickEvent(tr) {
            $(tr).click(function () {
                //是否当前行  currentrow ==old
                if ($(currentRow).html() == $(tr).html()) {
                    var editInput = $("td input", $(currentRow)).length;
                    if (editInput > 0) {
                        if (saveClick) {  //b保存按钮，移除input框
                            RemoveEditInput(currentRow);
                        }

                    }
                }

                currentRow = $(tr);
                $(this).css("background", "#f4f4f4");
                $(this).siblings("tr").css("background", "");
            })
        }

        function RemoveEditInput(tr) {
            var arrInput = $("td input", $(tr));

            if (isNaN($(arrInput[2]).val())
                || isNaN($(arrInput[3]).val())) {
                $(tr).remove();
                alertInfo("提示", "订单数据填写有误");
                saveClick = false;
                isEdit = false;
                return;
            }

            for (var i = 0; i < arrInput.length; i++) {
                if ($(arrInput[i]) == null || isNullorEmptyString($(arrInput[i]).val())) {
                    $(tr).remove();
                    alertInfo("提示", "订单数据填写有误");
                    break;
                }

                var inputValue = $(arrInput[i]).val();
                var parent = $(arrInput[i]).parent();  //td
                $(parent).html(inputValue);

            }

            var total = parseFloat($(arrInput[2]).val()) * parseFloat($(arrInput[3]).val());
            $("td", $(tr)).eq(-2).html(total);
            isEdit = false;
            saveClick = false;
        }

        function itemProductEvent(id) {
            $("#" + id).dblclick(function () {
                createDialog('@(Url.Content("~/order/productlist"))', "cardCode=" + $("#UserCode").val());
            });
        }

        function ItemPriceEvent(id) {
            $("#" + id).dblclick(function () {
                if (isNullorEmptyString($("#itemcode").val())) {
                    alertInfo("提示", "请先选择物料");
                    return;
                }
                createDialog('@(Url.Content("~/order/productprice"))', "productItemCode=" + $("#itemcode").val() + "&cardCode=" + $("#UserCode").val());
            });
        }


    </script>
}
