@{
    Layout = "~/Views/Template/dialog.cshtml";
}

@model List<OrderManager.Model.DTO.OM_ProductInfo>
@section title {
    <h4 style="font-weight:bold"><label>物料列表</label></h4>
}

@section Message{
    <div class="box-header">
        <div class="input-group">
            <input type="text" name="key" id="searchKey" class="form-control input-sm pull-right" style="width: 150px;" placeholder="搜索物料" value="@ViewBag.Key ">
            <div class="input-group-btn">
                <button class="btn btn-sm btn-default" id="search"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
                <div class="col-sm-6"></div><div class="col-sm-6"></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table-bordered table-hover dataTable table" role="grid" id="productlist_table">
                        <thead>
                            <tr role="row">
                                <th tabindex="0">物料编号</th>
                                <th tabindex="0" style="width:50%">物料名称</th>
                                <th tabindex="0">默认价格</th>
                            </tr>
                        </thead>
                        <tbody>
                            @* <tr><td colspan='3' style='padding:0;margin:0;'>
                                <table class='tree table-hover dataTable table' role='grid' style='margin-bottom: 0;padding:0;'>
                                     <tr class='treegrid-1'><td>C.A.M.0070</td><td style='font-size:x-small;'>清热散（猪用5kg/包）</td><td>undefined</td></tr>
                                     <tr class='treegrid-2 treegrid-parent-1'><td>C.A.M.0070-1</td><td style='font-size:x-small;'>清热散（猪用15kg/包）</td><td>undefined</td></tr>
                                 </table></td></tr>*@


                        </tbody>
                    </table>


                </div>
            </div>

            <div class="row">
                <div class="col-sm-5"><div class="dataTables_info">当前第 <label id="curentPage">@(ViewBag.PageIndex + 1)</label> 页（共 @ViewBag.TotalPages 页）</div></div>
                @if (ViewBag.TotalPages != null && ViewBag.TotalPages > 1)
                {
                    <div class="col-sm-7">
                        <div class="dataTables_paginate" id="paginate">
                            <ul class="pagination">

                                @{
                    var currentPage = (int)ViewBag.PageIndex + 1;
                    var beginIndex = 1;
                    if (currentPage < 4)
                    { beginIndex = 1; }
                    else if (currentPage >= (ViewBag.TotalPages - 4))
                    { beginIndex = (int)ViewBag.TotalPages - 4; }
                    else
                    { beginIndex = currentPage - 2; }
                    var count = ViewBag.TotalPages < (beginIndex + 4) ? ViewBag.TotalPages : (beginIndex + 4);
                                }

                                <li class="paginate_button " id="prePage">
                                    <a href="#">上一页</a>
                                </li>

                                <li class="paginate_button " id="nextPage">
                                    <a href="#">下一页</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>



}

@section buttons{
    <button type="button" class="btn btn-primary" data-dismiss="modal" id="comfirm_code">确定</button>
    <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel_code">取消</button>

    <script>
        var itemcode;
        var itemname;
        var itemprice;
        var ItemStandard;
        var ItemUnit;
        var currentPage;
        $(function () {
            $('.tree').treegrid();
            var cache = $("#cache");
            //tr click
            $("#productlist_table tr").each(function () {
                productListTrEvent($(this));
                currentPage = parseInt('@ViewBag.PageIndex');
            });
            //取消
            $("#cancel_code").click(function () { $("#itemprice").val(''); $("#itemcode").val(''); $("#itemname").val(''); });
            $("#search").click(function () {
                getdata(0);
            });

            $("#prePage").click(function () {
                var pre = currentPage - 1;
                if (pre < 0) { return; }
                getdata(pre);
                currentPage = pre;
                $("#curentPage").html(currentPage + 1);
            });

            $("#nextPage").click(function () {
                var next = currentPage + 1;
                if (next >= parseInt('@ViewBag.TotalPages')) { return; }
                getdata(next);
                currentPage = next;
                $("#curentPage").html(currentPage + 1);
            });

            var model = @Html.Raw(ServiceStack.Text.JsonSerializer.SerializeToString(Model));
            var productList = $(cache).data("product");
            if (productList == null || productList == "undefined") {
                console.log("haven't cache");
                addProductRow(model);
            }
            else {
                $("#productlist_table tbody").append(productList);
                $('.tree').treegrid();
                $("tr").each(function () {
                    productListTrEvent($(this));
                });
            }
        })


        function getdata(pageIndex) {
            var key = "key=" + $("#searchKey").val();
            var pageindex = "pageIndex=" + pageIndex;
            getAsynData("productList", key + "&" + pageindex, function (json) {
                clearTableTr();
                addProductRow(json.Data);

            });
        }

        function addRecursionChild(root, parentNodeNum) {
            if (root == null || root == "undefined" || root.length == 0) {
                return "";
            }
            var nextNodenum = "";
            var childRow = "";
            var nodesResult = "";
            var childNode = "";
            for (var i = 0; i < root.length; i++) {
                if (root[i].ChildNode == "undefined" || root[i].ChildNode == null || root[i].ChildNode == 0) {

                    nextNodenum = parentNodeNum + 100;
                }
                else {

                    nextNodenum = parentNodeNum + 1 + i;
                }
                var price = root[i].Price == undefined ? "" : root[i].Price;
                var price1 = root[i].CustomerPrice == undefined ? "" : root[i].CustomerPrice;
                var price2 = root[i].InnerPrice == undefined ? "" : root[i].InnerPrice;
                var itemStandard=root[i].ItemStandar;
                var itemUnit=root[i].ItemUnit;
                var row = "<tr class='treegrid-" + nextNodenum + " treegrid-parent-" + parentNodeNum + "'>";
                row += "<td>" + root[i].ItemCode + "</td><td style='font-size:small;'style='width:60%'>" + root[i].ItemName + "</td><td style='display: none;'>" + root[i].ItemStandar + "</td><td style='display: none;'>" + root[i].ItemUnit + "</td><td>" + price + "</td>";
                row += "</tr>";
                childRow += row;
                if (root[i].ChildNode == "undefined" || root[i].ChildNode == null || root.ChildNode == 0) {
                    continue;
                }
                else {
                    childRow += addRecursionChild(root[i].ChildNode, nextNodenum);
                }
            }
            return childRow;
        }

        function addProductRow(data) {
            var trs = "  <tr role='row'>没有找到匹配数据</tr>";
            if (data.length == 0) {
                $("#productlist_table tbody").append(trs);
            } else {
                for (var i = 0; i < data.length; i++) {
                    var cls = "";
                    var istree = "";
                    if (data[i].ChildNode != null && data[i].ChildNode.length > 0) {
                        cls = "treegrid-1";
                        istree = "tree";
                    }
                    var price = data[i].Price == undefined ? "" : data[i].Price;
                    var price1 = data[i].CustomerPrice == undefined ? "" : data[i].CustomerPrice;
                    var price2 = data[i].InnerPrice == undefined ? "" : data[i].CustomerPrice;

                    trs += "<tr><td colspan='3' style='padding:0;margin:0;'><table class='" + istree + " table-hover table' role='grid' style='margin-bottom: 0;padding:0;'>";
                    trs += "<tr class='" + cls + "' >";
                    trs += "<td>" + data[i].ItemCode + "</td><td style='font-size:small;width:60%'>" + data[i].ItemName + "</td><td style='display: none;'>" + data[i].ItemStandar + "</td><td style='display: none;'>" + data[i].ItemUnit + "</td><td>" + price + "</td>";
                    trs += "</tr>";
                    trs += addRecursionChild(data[i].ChildNode, 1);
                    trs += '</table></td></tr>';

                }
                //加载完dom后再 变成tree,同一个table 只能有一个根节点treegrid-1
                $(cache).data("product",trs);
                $("#productlist_table tbody").append(trs);
                $('.tree').treegrid();
                //Cookie
                //$.cookie("product",$('.tree'));


            }

            $("tr").each(function () {
                productListTrEvent($(this));
            });

            //收缩tree node
            shrinkNodes();
        }

        function shrinkNodes() {
            $(".treegrid-expander").each(function () {
                $(this).click();
            });

        }

        function clearTableTr() {
            $("#productlist_table tbody tr").each(function () {
                $(this).remove();
            })
        }

        function productListTrEvent(tr) {
            $(tr).click(function () {

                if (itemcode == $(this).children('td').html()) {
                    $(this).css("background", "");
                }
                //debugger;
                itemcode = $(this).children('td').first().text();
                itemname = $($(this).children('td')[1]).html();
                ItemStandard= $($(this).children('td')[2]).html();
                ItemUnit= $($(this).children('td')[3]).html()
                //ItemUnit= $(this).children('td').last().html();
                //itemprice=$($(this).children('td')[2]).html();
                itemprice = $(this).children('td').last().html();


                //有价格才能选中，确定
                if ((itemcode == "" || itemname == "undefined" || itemprice.indexOf("<") != -1) || itemprice == "")
                    return;


                $("tr").css("background", "");
                $(this).css("background", "#f4f4f4");
                $("#itemcode").val(itemcode);
                $("#itemname").val(itemname);
                $("#itemprice").val(itemprice);
                $("#itemStandard").val(ItemStandard);
                $("#itemUnit").val(ItemUnit);
                $("#itemquantity").val(1);
                $("#itemcustomerprice").val(itemprice);
                $("#iteminnerprice").val(itemprice);

            }).dblclick(function () {
                var newItemCode = $("#itemcode").val();
                var newItemname = $("#itemname").val();
                var newItemprice = $("#itemprice").val();
                if (newItemCode == "" || newItemname == "" || itemprice == "")
                    return;
                if (!isNullorEmptyString($("#itemprice").val())) {
                    $("#comfirm_code").click();
                }
            });

        }



    </script>
    <style>
        td, th {
            width: 30%;
        }
    </style>
}

